/* Language CSS File */

.UpgradeBox {
  height: 100%;
  background-color: #fff;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  padding: 20px;
}

/* Flex row container with cool colors for the children */
.UpgradesContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
  padding: 20px;
}
